table{
    width : 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-header-cell {
    text-align: center;
    justify-content:center;
}

.mat-column-wpm
{

    text-align: center;
    justify-content:center;
}


.mat-cell {
  text-align: center;
  justify-content:center;
}

.mat-sort-header-container
{
  text-align: center;
  justify-content:center;
}
.mat-focus-indicator 
{
  text-align: center;
  justify-content:center;
}
.ng-tns-c24-1
{
  text-align: center;
  justify-content:center;
}